<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.faridwaid.banksampahmliriprowo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BankSampahMliriprowo">
        <activity
            android:name=".admin.EditDaftarPengumpulanSampahAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.TambahDaftarPengumpulanSampahAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.DaftarPengumpulanSampahAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.EditDaftarAnggotaAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.DaftarAnggotaAdminActivity"
            android:exported="false" />
        <activity
            android:name=".user.JadwalPengumpulanSampahActivity"
            android:exported="false" />
        <activity
            android:name=".admin.EditDaftarSampahAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.TambahDaftarSampahAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.DaftarSampahAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.EditJadwalPengumpulanSampahAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.TambahJadwalPengumpulanSampahAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.JadwalPengumpulanSampahAdminActivity"
            android:exported="false" />
        <activity
            android:name=".user.UpdatePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".user.UpdateDataPofileActivity"
            android:exported="false" />
        <activity
            android:name=".admin.HomeAdminActivity"
            android:exported="false" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".user.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".BeginningAppActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>